@model IEnumerable<OnlineStore.Web.Areas.Administration.ViewModels.Order.IndexViewModel>
@{
    ViewBag.Title = "Поръчки";
}
<div class="row">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Начало", "Index", "Administration", new { area = "Administration" }, null)</li>
        <li class="active">Поръчки</li>
    </ol>
</div>

@*<div class="row">
    <div class="panel panel-default">
        <div class="panel-body">
            <a href="" class="btn btn-default">Филтър</a>
        </div>
    </div>
</div>*@

<div class="row">
    <table class="table table-bordered table-striped table-hover table-responsive table-condensed orders-table">
        <tr>
            <th>ID</th>
            <th>Статус</th>
            <th>Потребител</th>
            <th>Продукти</th>
            <th>Дата</th>
            <th>Действия</th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@Html.DisplayFor(o => order.Status, "OrderStatus")</td>
                <td>@order.FullName</td>
                <td>
                    <ul>
                        @foreach (var orderProduct in @order.Products)
                        {
                            <li>@orderProduct.Product.Name - @orderProduct.ProductVariant.Internal</li>
                        }
                    </ul>
                </td>
                <td>@Html.DisplayFor(o => order.CreatedOn)</td>
                <td>
                    @Html.ActionLink("Виж", "Details", "Order", new { area = "Administration", id = order.Id }, new { @class = "btn btn-default btn-xs" })
                </td>
            </tr>
        }
    </table>
</div>

<div class="row">
    <nav>
        <ul class="pagination">
            @{
                var currentPage = (int)ViewBag.CurrentPage;
                var totalPages = (int)ViewBag.TotalPages;
            }
            @if (currentPage > 1)
            {
                <li>
                    <a href="@Url.Action("Index", "Order", new { id = currentPage - 1, area = "Administration" })" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            }
            @for (int i = 1; i <= totalPages; i++)
            {
                var classActive = "";
                if (currentPage == i)
                {
                    classActive = "active";
                }
                <li class="@classActive">@Html.ActionLink(i.ToString(), "Index", "Order", new { id = i, area = "Administration" }, null)</li>
            }

            @if (currentPage < totalPages)
            {
                <li>
                    <a href="@Url.Action("Index", "Order", new { id = currentPage + 1, area = "Administration" })" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            }
        </ul>
    </nav>
</div>