@model OnlineStore.Web.Areas.Cart.ViewModels.Cart.PreviewViewModel

<div id="cart-container">
    <a href="#disabled" class="colorbox-close">X</a>
    <h1>Кошница</h1>
    <div>
        <ol>
            @foreach (var orderProduct in Model.Products)
            {
                var price = orderProduct.ProductVariant.PriceCustomer * orderProduct.Reserved;
                <li>
                    <span>@orderProduct.Product.Name</span>
                    <span>Размер: @orderProduct.ProductVariant.Internal</span>
                    <span>Количество: @orderProduct.Reserved</span>
                    <span>Цена: @Html.DisplayFor(m => price)</span>
                </li>
            }
        </ol>
    </div>
    <div>
        <a href="#disabled" class="cart-next" data-step="1" data-url="@Url.Action("Address", "Cart", routeValues: new { area = "Cart" })">Въведи адрес &gt;&gt;</a>
        <div class="clearfix"></div>
    </div>
</div>