<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <section id="top">
        <div>
            <ul>
                <li><a href="#disabled" id="cart-btn" data-url="@Url.Action("Preview", "Cart", routeValues: new { area = "Cart" })">Чанта <span id="cart-count">0</span></a></li>
                @Html.Partial("_LoginPartial")
            </ul>
            <div class="clearfix">
            </div>
        </div>
    </section>

    <header>
        <div id="logo">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-paper-plane"></i> CoolStore</a>
                </li>
                <li>
                    <form>
                        <input type="search" name="search"><span><a href="#"><i class="fa fa-search"></i></a></span>
                    </form>
                </li>
            </ul>
        </div>
        <nav id="menu">
            <ol>
                <li><a href="index.php">Дамска мода</a></li>
                <li><a href="#">Мъжка мода</a></li>
                <li><a href="#">Аксесоари</a></li>
                <li><a href="#">Бижута</a></li>
                <li><a href="#">За дома</a></li>
                <li><a href="#">Козметика</a></li>
            </ol>
        </nav>
    </header>

    @RenderBody()

    <footer id="footer">
        <ul>
            <li>
                <hr>
                <h3>Контакти</h3>
                0700 45 745<br>
                Пон-Пет 9:00-18:30 ч.<br>
                info@site.bg
            </li>
            <li>
                <hr>
                <h3>За нас</h3>
                Проектът SecretZone.bg се роди преди повече от година в мечтите ни, инспириран от любовта към красотата, провокиран от желанието всички ние да можем да се докоснем до онази магия наречена мода.
            </li>
            <li>
                <hr>
                <h3>Категории</h3>
                <ol>
                    <li><a href="#">Дамска мода</a></li>
                    <li><a href="#">Дамска мода</a></li>
                    <li><a href="#">Дамска мода</a></li>
                </ol>
            </li>
        </ul>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/colorbox")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <!--<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>-->
    <script>
		$(function(){

		    var registerFormCache = '';
		    $('#register-btn').on('click', registerButtonClick);
		    function registerButtonClick(e) {
		        e.preventDefault();
		        var url = $(this).data('url');

		        if (registerFormCache.length > 0) {
		            $.colorbox({ html: registerFormCache, className: 'register-colorbox', closeButton: false, transition: 'fade', arrowKey: false, scrolling: false });
		            return;
		        }

		        $.ajax({ method: 'GET', url: url, data: { } })
                    .done(function (response) {
                        registerFormCache = response;
                        $.colorbox({ html: response, className: 'register-colorbox', closeButton: false, transition: 'fade', arrowKey: false, scrolling: false });
                    });
		    }

		    $('body').on('click', '.colorbox-close', registerCloseButtonClick);
		    function registerCloseButtonClick(e) {
		        e.preventDefault();
		        $.colorbox.close();
		    }

		    $(document).on('submit', '.register-form', function (e) {
		        e.preventDefault();
		        var form = $(this);

                $.ajax({
                    url: this.action, type: this.method, data: form.serialize(),
                    success: function (html) {
                        if (html.length === 0) {
                            location.reload();
                        } else {
                            $('#register-form-container').parent().html(html);
                            $.colorbox.resize()
                        }
                    }
		        });
		    });

		    var loginFormCache = '';
		    $('#login-btn').on('click', loginButtonClick);
		    function loginButtonClick(e) {
		        e.preventDefault();
		        var url = $(this).data('url');

		        if (loginFormCache.length > 0) {
		            $.colorbox({ html: loginFormCache, className: 'login-colorbox', closeButton: false, transition: 'fade', arrowKey: false, scrolling: false });
		            return;
		        }

		        $.ajax({ method: 'GET', url: url, data: {} })
                    .done(function (response) {
                        loginFormCache = response;
                        $.colorbox({ html: response, className: 'login-colorbox', closeButton: false, transition: 'fade', arrowKey: false, scrolling: false });
                    });
		    }

		    $(document).on('submit', '.login-form', function (e) {
		        e.preventDefault();
		        var form = $(this);

		        $.ajax({
		            url: this.action, type: this.method, data: form.serialize(),
		            success: function (html) {
		                if (html.length === 0) {
		                    location.reload();
		                } else {
		                    $('#login-form-container').parent().html(html);
		                    $.colorbox.resize()
		                }
		            }
		        });
		    });

		    $('#cart-btn').on('click', cartButtonClick);
		    function cartButtonClick(e) {
		        e.preventDefault();
		        var url = $(this).data('url');

		        $.ajax({ method: 'GET', url: url, data: {} })
                    .done(function (response) {
                        registerFormCache = response;
                        $.colorbox({ html: response, className: 'cart-colorbox', closeButton: false, transition: 'fade', arrowKey: false, scrolling: false });
                    });
		    }

		    $(document).on('click', '.cart-next', cartNextStepButtonClick);
		    function cartNextStepButtonClick(e) {
		        
		        var step = parseInt($(this).data('step'));
		        var url = $(this).data('url');

		        if (step === 1) {
		            e.preventDefault();
		            $.ajax({ method: 'GET', url: url, data: {} })
                        .done(function (response) {
                            $('#cart-container').parent().html(response);
                            $.colorbox.resize();
                        });
		        } else if (step === 2) {
		            e.preventDefault();
		            var form = $(this).parent().parent().find('form');
		            var street = $('#Street').val();
		            var phone = $('#Phone').val();

		            if (street.length < 3) {
		                $('#cart-street-error').html('Въведете улица');
		                return;
		            }

		            if (phone.length < 3) {
		                $('#cart-phone-error').html('Въведете телефон');
		                return;
		            }
                    
		            $.ajax({ type: 'POST', url: url, data: form.serialize() })
		                .done(function (response) {
		                    $('#cart-container').parent().html(response);
		                    $.colorbox.resize();
		                });
		        }
		    }

		});
    </script>
</body>
</html>