<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/css")
</head>
<body>
    <section id="top">
        <div>
            <ul>
                <li><a href="#">Cart <span id="cart-count">0</span></a></li>
                <li><a href="#">Login</a></li>
            </ul>
            <div class="clearfix">
            </div>
        </div>
    </section>

    <header>
        <div id="logo">
            <ul>
                <li>
                    <a href="@Url.Action("Index", "Home")"><i class="fa fa-paper-plane"></i> CoolStore</a>
                </li>
                <li>
                    <form>
                        <input type="search" name="search"><span><a href="#"><i class="fa fa-search"></i></a></span>
                    </form>
                </li>
            </ul>
        </div>
        <nav id="menu">
            <ol>
                <li><a href="index.php">Дамска мода</a></li>
                <li><a href="#">Мъжка мода</a></li>
                <li><a href="#">Аксесоари</a></li>
                <li><a href="#">Бижута</a></li>
                <li><a href="#">За дома</a></li>
                <li><a href="#">Козметика</a></li>
            </ol>
        </nav>
    </header>

    @RenderBody()

    <footer id="footer">
        <ul>
            <li>
                <hr>
                <h3>Контакти</h3>
                0700 45 745<br>
                Пон-Пет 9:00-18:30 ч.<br>
                info@site.bg
            </li>
            <li>
                <hr>
                <h3>За нас</h3>
                Проектът SecretZone.bg се роди преди повече от година в мечтите ни, инспириран от любовта към красотата, провокиран от желанието всички ние да можем да се докоснем до онази магия наречена мода.
            </li>
            <li>
                <hr>
                <h3>Категории</h3>
                <ol>
                    <li><a href="#">Дамска мода</a></li>
                    <li><a href="#">Дамска мода</a></li>
                    <li><a href="#">Дамска мода</a></li>
                </ol>
            </li>
        </ul>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
    <!--<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>-->
    <script>
		$(function(){

			var sliderIndex = 0;
			$('.slider-arrow').on('click', sliderArrowClick);
			function sliderArrowClick(e) {
				e.preventDefault();
				var dir = $(this).data('dir');
				var sliderCount = $('.slider-container').length;

				switch (dir) {
					case 'next':
						sliderIndex++;
						if (sliderIndex >= sliderCount) {
							sliderIndex = 0;
						}
						break;
					case 'prev':
						sliderIndex--;
						if (sliderIndex < 0) {
							sliderIndex = sliderCount - 1;
						}
						break;
				}

				$('.slider-container').not('hidden').addClass('hidden');
				$($('.slider-container')[sliderIndex]).removeClass('hidden');
			}

			$('.product-box').hover(function() {
				$(this).addClass('product-box-hover');
				$(this).find('.product-box-buy').css('visibility', 'initial');
				$(this).find('ul').css('visibility', 'initial');
 			}, function() {
 				$(this).removeClass('product-box-hover');
				$(this).find('.product-box-buy').css('visibility', 'hidden');
				$(this).find('ul').css('visibility', 'hidden');
			});

			$('.collection-box').hover(function() {
				$(this).find('strong').slideDown(200);
 			}, function() {
 				$(this).find('strong').slideUp(200);
			});

			$('.sort-dropdown-menu').on('click', function (e) {
				e.preventDefault();
				var state = $(this).data('state');

				if (state == 'closed') {
					$(this).data('state', 'opened');
					$(this).parent().find('ol').slideDown(200);
				} else {
					$(this).data('state', 'closed');
					$(this).parent().find('ol').slideUp(200);
				}
 			});

		});
    </script>
</body>
</html>