@if (Request.IsAuthenticated)
{
    <li>
        @Html.ActionLink("Поръчки", "Index", "Order", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Поръчки" })
    </li>
    <li>
        @Html.ActionLink("Профил", "Index", "Manage", routeValues: new { area = string.Empty }, htmlAttributes: new { title = "Профил" })
    </li>
    <li>
        @using (Html.BeginForm("LogOff", "Account", new { area = string.Empty }, FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Изход</a>
        }
    </li>

}
else
{
    <li><a href="#disabled" id="register-btn" data-url="@Url.Action("Register", "Account")">Регистрация</a></li>
    <li><a href="#disabled" id="login-btn" data-url="@Url.Action("Login", "Account")">Вход</a></li>
}
